body {

    margin: 0;
}
html, body, main {
    height: 100%;
    width: 100%;
    margin: 0;
}
.kafelki {
    width: 510px;
    height: 360px;
    position: relative;
    background-color: rgb(213,68,181);
    font-size: 50px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    border-radius: 10px;
    font-weight: 900;
    color: rgb(213,68,181);
    display:flex;
    float: left;
    margin: 5%;
    justify-content:center;
    align-items:center;
    cursor: pointer;
}
.kafelki2 {
    width: 500px;
    height: 350px;
    position: relative;
    background-color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    border-radius: 10px;
    font-weight: 900;

    border: none;
    color: rgb(213,68,181);
    display:flex;
    float: left;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    justify-content:center;
    align-items:center;
}
.kafelki2:hover {
    color: darkTurquoise;
    border: solid 6px darkTurquoise;
}
#kafelki {
    display:flex;
    width: 100%;
    position: fixed;
    justify-content:center;
    align-items:center;
}
.kafelki img {
    width: 100%;
    height: 100%;
    position: relative;

}
#nav {
    z-index: 1000;
}
#nav div {
    width: 20%;
    margin: 0 3%;
    text-align: center;
    line-height: 50px;
}
#nav div span {
    display: block;
    width: 100%;
    height: 100%;
}
#nav div:hover {
    cursor: pointer;
}
#konsultantka, #klient {
    text-align: center;
    margin: auto;
    display: block;
    /*padding: 5%;*/
    background-color: rgba(255,255,255,0.4);
}
.menu {
    font-family: 'Kaushan Script', cursive;
    font-weight: 900;
    font-size: 25px;
    letter-spacing: 0.5px;
    color: rgb(213,68,181);
    background-color: white;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}
.menu2 {
    font-family: 'Kaushan Script', cursive;
    font-weight: 900;
    font-size: 25px;
    letter-spacing: 0.5px;
    background-color: white;
    color: darkTurquoise;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}


#blok {
    height: 50px;
}
#nav {
    display:flex;
    width: 100%;
    position: fixed;
    justify-content:center;
    background-color: white;
    align-items:center;

}
#menu {
    width: 100%;
    position: relative;
}
.klik {
    line-height: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    z-index: 50;
    background-color: white;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.not-clicked {
    color: rgb(213,68,181) !important;
}
.clicked {
    color: darkturquoise !important;
}
#klik {
    width: 420px;
    height: 100px;
/*    top: 2561px;
    left: 250px;*/
}/*
*/#klik1 {
    width: 250px;
    height: 100px;
/*    top: 2561px;
    left: 800px;*/
}/*
*/#klik2 {
    width: 420px;
    height: 100px;
/*    top: 1285px;
    left: 240px;*/
}/*
*/#klik22 {
    width: 250px;
    height: 100px;
/*    top: 1285px;
    left: 790px;*/
}
img {
    display: block;
    margin: auto;
}
